<div class="wrapper">
  <div class="tittle">
    <h2>Projects</h2>
  </div>

  <div class="body">
    <div class="left dx-card">
      <dx-scroll-view class="left-project">
        @for (project of dsProject; track $index) {
        <div class="left-card">
          <div class="left-card-header">
            <div class="left-header">
              <div>{{project.project_name}}</div>
              <div>List Count: {{project.lists?.length || 0}}</div>
            </div>
            <div class="left-button-group">
              <dx-button class="left-button" icon="search" (onClick)="onClick_task(project.project_id)"></dx-button>
              <dx-button class="left-button" icon="menu" (onClick)="onClick_expanded(project.project_id)"></dx-button>
            </div>
          </div>

          @if (project.expanded){

          <dx-data-grid [dataSource]="project.lists" [showBorders]="true" [columnAutoWidth]="true"
            [showColumnHeaders]="false" [columnHidingEnabled]="true">
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <!-- Columna Status -->
            <dxi-column dataField="list_name" caption="name">
            </dxi-column>
          </dx-data-grid>

          }
        </div>
        }

      </dx-scroll-view>
    </div>

    <div class="right dx-card">

      <div class="right-group">
        @for (item of dsTask; track $index) {
        <div class="right-step">
          <div class="right-title">
            {{item.step_group}}
          </div>
          <dx-scroll-view [direction]="'vertical'">

            <div class="right-card">
              @for (task of item.tasks; track $index) {
              <div class="right-task">
                <div class="right-task-header">
                  <div>{{task.list_name}}</div>
                  <div class="right-task-header-right">
                    <div>
                      {{task.user_name}}
                    </div>
                    <div>
                      <dx-button class="button" icon="edit"></dx-button>
                    </div>
                  </div>
                </div>

                <div class="right-task-body">
                  <div class="right-task-body-header">
                    {{task.task_name}}
                  </div>
                  <div class="right-task-body-body">
                    <div class="right-task-body-list">
                      <div>{{task.terminateDate }}</div>
                      <div>{{task.status_name}}</div>
                      <div>{{task.priority_name}}</div>
                    </div>
                    <div class="right-task-body-counter">
                      {{task.counterTask}}
                    </div>
                  </div>
                </div>

                <div class="right-task-footer">
                  <dx-button class="right-button" icon="arrowleft"></dx-button>
                  <div>{{task.createdDate}}</div>
                  <dx-button class="right-button" icon="arrowright"></dx-button>
                </div>
              </div>
              }
            </div>
          </dx-scroll-view>
        </div>
        }
      </div>

    </div>
  </div>
</div>