@if(config.isLoadingTraductor){
<div class="wrapper">
  <div class="title">
    <h2>{{ translate.title.word }}</h2>
  </div>

  <div class="body dx-card responsive-paddings">
    <div class="button-info">
      <dx-button
        stylingMode="contained"
        type="default"
        [width]="30"
        [height]="30"
        [icon]="icon.search"
        [hint]="translate.btnSearch.word"
        (onClick)="LoadInfo()"
      >
      </dx-button>

      <dx-button
        stylingMode="contained"
        type="default"
        [width]="30"
        [height]="30"
        [icon]="icon.add"
        [hint]="translate.btnAdd.word"
        [visible]="translate.btnAdd.visible"
        [disabled]="translate.btnAdd.disabled"
        (onClick)="onClick_button_add()"
      >
      </dx-button>

      <!-- SYSTEM-TRANSLATE START -->
      <div class="button-translate">
        <dx-button
          stylingMode="contained"
          type="default"
          [width]="30"
          [height]="30"
          [icon]="icon.translate"
          [hint]="translate.btnTranslate.word"
          [visible]="translate.btnTranslate.visible"
          (onClick)="onClick_button_translate()"
        >
        </dx-button>
      </div>
      <!-- SYSTEM-TRANSLATE END -->
    </div>

    <dx-data-grid
      class="dx-card"
      width="100%"
      height="100%"
      [dataSource]="dsUser"
      [showBorders]="false"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      [columnAutoWidth]="true"
      [keyExpr]="'id'"
      [scrolling]="{ mode: 'virtual' }"
    >
      <!-- <dxo-row-dragging
                [allowReordering]="true"
                [onReorder]="onReorder"
                [showDragIcons]="true"
              ></dxo-row-dragging> -->

      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <dxi-column
        [width]="config.buttonColumnWidth"
        [allowFiltering]="false"
        [allowSorting]="false"
        cellTemplate="cellTemplateButton"
        [alignment]="'center'"
        [fixed]="true"
      >
      </dxi-column>
      <div *dxTemplate="let data of 'cellTemplateButton'">
        <dx-button
          class="btn-custom-margin-right"
          type="success"
          aria-hidden="false"
          [icon]="icon.view"
          [hint]="translate.btnView.word"
          [width]="20"
          [height]="20"
          [visible]="data.data.isView"
          (onClick)="onClick_button_view(data.data)"
        >
        </dx-button>

        <dx-button
          class="btn-custom-margin-right"
          type="default"
          aria-hidden="false"
          [icon]="icon.edit"
          [hint]="translate.btnEdit.word"
          [width]="20"
          [height]="20"
          [visible]="data.data.isEdit && !data.data.isCancel"
          (onClick)="onClick_button_edit(data.data)"
        >
        </dx-button>

        <dx-button
          class="btn-custom-margin-right"
          type="danger"
          aria-hidden="false"
          [icon]="icon.delete"
          [hint]="translate.btnDelete.word"
          [width]="20"
          [height]="20"
          [visible]="
            data.data.isDelete && data.data.isEdit && !data.data.isCancel
          "
          (onClick)="onClick_button_delete(data.data)"
        >
        </dx-button>

        <dx-button
          class="btn-custom-margin-right"
          type="success"
          aria-hidden="false"
          [text]="translate.btnConfirmDelete.word"
          [hint]="translate.btnConfirmDelete.word"
          [width]="140"
          [height]="20"
          [visible]="data.data.isConfirmDelete"
          (onClick)="onClick_button_confirmDelete(data.data)"
        >
        </dx-button>
        <dx-button
          class="btn-custom-margin-right"
          type="danger"
          aria-hidden="false"
          [icon]="icon.cancel"
          [hint]="translate.btnCancel.word"
          [width]="20"
          [height]="20"
          [visible]="data.data.isCancel"
          (onClick)="onClick_button_cancel(data.data)"
        >
        </dx-button>

        <dx-button
          class="btn-custom-margin-right"
          type="success"
          aria-hidden="false"
          [icon]="icon.lock"
          [hint]="translate.btnPassword.word"
          [width]="20"
          [height]="20"
          [visible]="data.data.isPassword"
          (onClick)="onClick_button_password(data.data)"
        >
        </dx-button>
      </div>
      <dxi-column
        dataField="hashtag"
        [width]="200"
        [caption]="translate.colHashtag.word"
        [alignment]="'center'"
      >
      </dxi-column>

      <dxi-column
        dataField="name"
        [width]="200"
        [caption]="translate.colName.word"
      >
      </dxi-column>

      <dxi-column
        dataField="lastName"
        [width]="200"
        [caption]="translate.colLastName.word"
      >
      </dxi-column>

      <dxi-column
        dataField="nickname"
        [width]="250"
        [caption]="translate.colNickname.word"
      >
      </dxi-column>

      <dxi-column
        dataField="account"
        [width]="300"
        [caption]="translate.colAccount.word"
      >
      </dxi-column>

      <dxi-column
        dataField="area_name"
        [width]="300"
        [caption]="translate.colAreaName.word"
      >
      </dxi-column>

      <dxi-column
        dataField="email"
        [width]="300"
        [caption]="translate.colEmail.word"
      >
      </dxi-column>

      <dxi-column
        dataField="domain_name"
        [width]="300"
        [caption]="translate.colDomainName.word"
      >
      </dxi-column>

      <dxi-column
        [alignment]="'center'"
        dataField="isActive"
        [caption]="translate.colIsActive.word"
        [allowEditing]="false"
        [width]="90"
        cellTemplate="contentIsActive"
      ></dxi-column>

      <div class="buttons" *dxTemplate="let data of 'contentIsActive'">
        <dx-check-box
          [(value)]="data.data.isActive"
          [readOnly]="true"
        ></dx-check-box>
      </div>
    </dx-data-grid>
  </div>
</div>
}

<!-- MODAL -->
@if(config.isPopupVisible){
<dx-popup
  [width]="config.popupWidth"
  [height]="config.popupHeight"
  [showTitle]="true"
  [title]="translate.popupTitle.word"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  [visible]="config.isPopupVisible"
  (onHidden)="onHidden_popup()"
>
  <div class="modal-container">
    <div
      class="modal-content"
      [ngClass]="{ disabled: config.isView && !config.isEdit }"
    >
      <dx-form
        id="form"
        #gForm
        [formData]="gUserTemp"
        validationGroup="customerData"
        labelLocation="left"
        [showColonAfterLabel]="true"
      >
        <dxi-item
          dataField="name"
          editorType="dxTextBox"
          [editorOptions]="{
            readOnly: gEditorOptionsForm.name.readOnly,
          }"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valName.word"
          ></dxi-validation-rule>
          <dxo-label
            [template]="translate.colName.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="lastName"
          editorType="dxTextBox"
          [editorOptions]="{
            readOnly: gEditorOptionsForm.lastName.readOnly,
          }"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valLastName.word"
          ></dxi-validation-rule>
          <dxo-label
            [template]="translate.colLastName.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="nickname"
          editorType="dxTextBox"
          [editorOptions]="{
            readOnly: gEditorOptionsForm.nickname.readOnly,
          }"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valNickname.word"
          ></dxi-validation-rule>
          <dxo-label
            [template]="translate.colNickname.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="area_id"
          editorType="dxLookup"
          [editorOptions]="{
            dataSource: dsArea,
            displayExpr: 'area_name',
            valueExpr: 'area_id',
            onValueChanged: onValueChanged_lookup_Area,
            searchEnabled: true,
            readOnly: gEditorOptionsForm.area.readOnly,
          }"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valArea.word"
          ></dxi-validation-rule>
          <dxo-label
            [template]="translate.colAreaName.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="isActive"
          editorType="dxCheckBox"
          [editorOptions]="{
            readOnly: gEditorOptionsForm.isActive.readOnly,
          }"
        >
          <dxo-label
            [template]="translate.lblIsActive.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item dataField="email" editorType="dxTextBox">
          <dxo-label
            [template]="translate.colEmail.word"
            alignment="right"
          ></dxo-label>
          <div class="custom-editor">
            <dx-text-box
              [(value)]="gUserTemp.email"
              placeholder="ejemplo"
              [readOnly]="gEditorOptionsForm.email.readOnly"
              [width]="295"
            ></dx-text-box>

            <div class="custom-name"><span>&#64;</span></div>

            <div>
              <dx-lookup
                [(value)]="gUserTemp.domain_id"
                [dataSource]="dsDomain"
                displayExpr="domain_name"
                valueExpr="domain_id"
                [searchEnabled]="true"
                [disabled]="gEditorOptionsForm.domain.readOnly"
                [width]="300"
              >
              </dx-lookup>
            </div>
          </div>
        </dxi-item>
      </dx-form>

      <div class="info-bottom">
        <div class="info-box">
          <span>Account</span>
          <div class="info-botton-content">
            <div class="info-botton-content-text">{{ gUser.account }}</div>
            <dx-button
              stylingMode="text"
              type="default"
              [icon]="'copy'"
              [hint]="'Copy Account'"
              [text]="copySuccess.account ? 'Copied!' : 'Copy'"
              (click)="copyToClipboard(gUser.account)"
            >
            </dx-button>
          </div>
        </div>
        @if (gEditorOptionsForm.password.visible){
        <div class="info-box">
          <span>Password</span>
          <div class="info-botton-content">
            <div class="info-botton-content-text">{{ gUser.password }}</div>

            <dx-button
              stylingMode="text"
              type="default"
              [icon]="'copy'"
              [hint]="'Copy Password'"
              [text]="copySuccess.password ? 'Copied!' : 'Copy'"
              (click)="copyToClipboard(gUser.password)"
            >
            </dx-button>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="modal-button">
      <dx-button
        [text]="translate.btnConfirm.word"
        [width]="120"
        [height]="30"
        [disabled]="config.isSendInfo"
        type="success"
        [disabled]="config.isView"
        class="btn-custom-margin-right"
        (onClick)="onClick_button_confirm()"
        aria-hidden="false"
      >
      </dx-button>
    </div>
  </div>
</dx-popup>

}

<!-- #SYSTEM-TRANSLATE START-->
@if(config.isPopupDictionaryVisible){
<dx-popup
  [width]="config.popupDictionaryWidth"
  [height]="config.popupDictionaryHeight"
  [showTitle]="true"
  [title]="translate.popupTitleDictionary.word"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  [visible]="config.isPopupDictionaryVisible"
  (onHidden)="onHidden_popup()"
>
  <!-- <app-dictionary
        [component_name]="component_name"
        [component_area]="component_area"
        [word]="translate"
      ></app-dictionary> -->
</dx-popup>
}
<!-- #SYSTEM-TRANSLATE END-->

<!-- #SYSTEM-CHANGE-PASSWORD-->
@if(config.isPopupChangePasswordVisible){

<dx-popup
  [width]="config.popupChangePasswordWidth"
  [height]="config.popupChangePasswordHeight"
  [showTitle]="true"
  [title]="translate.popupChangePasswordTitle.word"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  [visible]="config.isPopupChangePasswordVisible"
  (onHidden)="onHidden_popup()"
>
  <div class="modal-container">
    <div
      class="modal-content"
      [ngClass]="{ disabled: config.isView && !config.isEdit }"
    >
      <div class="modal-userName">
        <h2>{{ translate.titleUser.word }}</h2>
      </div>
      <dx-form
        id="form"
        #gForm
        [formData]="gChangePassword"
        validationGroup="customerData"
        labelLocation="left"
        [showColonAfterLabel]="true"
      >
        <dxi-item
          dataField="password"
          editorType="dxTextBox"
          [editorOptions]="passwordEditorOptions"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valPassword.word"
          ></dxi-validation-rule>

          <dxi-validation-rule
            type="stringLength"
            [min]="8"
            message="Password must be at least 8 characters long"
          ></dxi-validation-rule>

          <dxi-validation-rule
            type="pattern"
            pattern="[A-Za-z]"
            message="Password must contain at least one letter"
          ></dxi-validation-rule>

          <dxi-validation-rule
            type="pattern"
            pattern="[^A-Za-z0-9]"
            message="Password must contain at least one special character"
          ></dxi-validation-rule>

          <dxo-label
            [template]="translate.colPassword.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="confirmPassword"
          editorType="dxTextBox"
          [editorOptions]="{mode: 'password',}"
        >
          <dxi-validation-rule
            type="required"
            [message]="translate.valConfirmPassword.word"
          ></dxi-validation-rule>

          <dxi-validation-rule
            type="custom"
            [validationCallback]="validatePasswordsMatch"
            message="Passwords do not match"
          ></dxi-validation-rule>

          <dxo-label
            [template]="translate.colConfirmPassword.word"
            alignment="right"
          ></dxo-label>
        </dxi-item>
      </dx-form>
    </div>

    <div class="modal-button">
      <dx-button
        [text]="translate.btnConfirmPassword.word"
        [width]="140"
        [height]="30"
        [disabled]="config.isLoadingPanel"
        type="success"
        [disabled]="config.isView"
        class="btn-custom-margin-right"
        (onClick)="onClick_button_confirmPassword()"
        aria-hidden="false"
      >
      </dx-button>
    </div>
  </div>
</dx-popup>
}

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#wrapper' }"
  [(visible)]="config.isLoadingPanel"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<!-- <dx-form
      id="form"
      #gForm
      [formData]="gUserTemp"
      validationGroup="customerData"
      labelLocation="left"
      [showColonAfterLabel]="true"
    >
      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'password',
        }"
      >
        <dxi-validation-rule
          type="required"
          [message]="translate.valPassword.word"
        ></dxi-validation-rule>
        <dxo-label
          [template]="translate.colPassword.word"
          alignment="right"
        ></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="confirmPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'password',
        }"
      >
        <dxi-validation-rule
          type="required"
          [message]="translate.valConfirmPassword.word"
        ></dxi-validation-rule>
        <dxo-label
          [template]="translate.colConfirmPassword.word"
          alignment="right"
        ></dxo-label>
      </dxi-item>
    </dx-form> -->
